
#check:checked ~ div {
    display: block;
  }
  #click:checked{
    background-color: #374151;
  }
  #click:checked ~ ul {
    display: block;
  }

label:hover .dropdown{
    display: block;
    height: 11rem;
}

#click:checked ~ div {
    display: block;
  }


.bg-blue-500{
    animation-name: animate; 
    animation-duration: 5s;
}   
@keyframes animate {
    from {width: 0px;}
    to {width: 5rem;}
  }
.row2{
    animation-name: animate; 
    animation-duration: 3s;
}   
@keyframes animate {
    from {width: 0px;}
    to {width: 4rem;}
  }
.row3{
    animation-name: animate; 
    animation-duration: 0.3s;
}   
@keyframes animate {
    from {width: 0px;}
    to {width: 1rem;}
  }
.row4{
    animation-name: animate; 
    animation-duration: 0.4s;
}   
@keyframes animate {
    from {width: 0px;}
    to {width: 2.5rem;}
  }
.row5{
    animation-name: animate; 
    animation-duration: 0.4s;
}   
@keyframes animate {
    from {width: 0px;}
    to {width: 4.5rem;}
  }
.row6{
    animation-name: animate; 
    animation-duration: 0.5s;
}   
@keyframes animate {
    from {width: 0px;}
    to {width: 3.8rem;}
  }
.row7{
    animation-name: animate; 
    animation-duration: 0.4s;
}   
@keyframes animate {
    from {width: 0px;}
    to {width: 1.5rem;}
  }
.row8{
    animation-name: animate; 
    animation-duration: 1s;
}   
@keyframes animate {
    from {width: 0px;}
    to {width: 5rem;}
  }
.row9{
    animation-name: animate; 
    animation-duration: 0.8s;
}   
@keyframes animate {
    from {width: 0px;}
    to {width: 4rem;}
  }
.row10{
    animation-name: animate; 
    animation-duration: 0.8s;
}   
@keyframes animate {
    from {width: 0px;}
    to {width: 4rem;}
  }
  table tr:nth-child(odd){background-color: #f3f6f6;}
  table thead tr{background-color: white;}

  table tr:hover {background-color: #F3F6F6;}

  /* switch */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 2px;
    left: 0;
    right: 5px;
    bottom: 2px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 40px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 5px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
  }